<% layout('./layout/boilerplate') %>
  <h1 class="fw-lighter">All Campgrounds</h1>
  <% for(let c of campgrounds){ %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" src="<%=c.image%>" alt="basecamp image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <%=c.title%>
            </h4>
            <h6 class="fst-italic">₹ <%=c.price %>
            </h6>
            <p class="card-text">
              <%=c.description%>
            </p>
            <p class="card-text fw-bold">
              -<%=c.location%>
            </p>
            <a href="/campgrounds/<%=c._id%>" class="btn btn-primary"> View More</a>

          </div>
        </div>
      </div>

    </div>
    <% } %>