<% layout('./layout/boilerplate') %>
  <!-- clustermap -->
  <div id="cluster-map"></div>

  <h2 class="fw-lighter text-center my-3">All Campgrounds</h2>
  <% for(let c of campgrounds){ %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <% if(c.image.length){ %>
            <img class="img-fluid" src="<%=c.image[0].url%>" alt="basecamp image">
            <% }else{ %>
              <img
                src="https://res.cloudinary.com/dzanfytxa/image/upload/c_scale,w_420/v1643202592/hillside-creek/u2q2zzr2pgplndzomuf2.jpg"
                alt="image">
              <% } %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              <%=c.title%>

            </h4>
            <h6 class="fst-italic">₹ <%=c.price %>
            </h6>
            <p class="card-text">
              <% if(c.description.length>100){ %>
                <%= c.description.slice(0,100)%>... <a href="/campgrounds/<%=c._id%>"> Read More </a>
                  <% } else{ %>
                    <%=c.description%>
                      <% } %>
            </p>
            <p class="card-text fw-bold">
              -<%=c.location%>
            </p>
            <a href="/campgrounds/<%=c._id%>" class="btn btn-primary"> View More</a>

          </div>
        </div>
      </div>

    </div>
    <% } %>
      <script>
        const mapToken = "<%-process.env.MAPBOX_TOKEN%>"
        const campgrounds = { features: JSON.parse('<%-JSON.stringify(campgrounds)%>') };
      </script>
      <script src="/js/clustermap.js"></script>